body {
	text-align: center;
	font-family: monospace;
}

#status {
	font-size: 2em;
	padding: .5em;
	background: radial-gradient(closest-corner, #9c9, #7a7);
	border-radius: .5em;
}

.lcd-status {
	height: 2em;
	width: 100%;
	padding: 1em 0;
}

.lcd-status * {
	width: 4em;
	display: inline-block;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
}

.lcd-status #lcd-ready { color: green; }
.lcd-status #lcd-armed { color: red; }
.lcd-status #lcd-bypass { color: green; }
.lcd-status #lcd-comm { color: orange; }

.keypad {
	display: inline-block;
	padding: 1em;
	border-radius: 2em;
	background: linear-gradient(to bottom right, #eee, #fff, #efefef);
}

.keypad .row { width: 100%; }

.keypad .button {
	font-size: 2.5em;
	display: inline-block;
	padding: .2em .2em .2em .5em;
	margin: .2em;
	border-radius: .5em;
	background: radial-gradient(circle, #eee, #ddd);
	cursor: hand;
}

.keypad .button.pressed {
	color: #eee;
	background: radial-gradient(circle, #666, #777, #888);
}

.keypad .button .label {
	width: 80px;
	display: inline-block;
	padding: 4px;
	font-size: .6em;
	font-weight: normal;
	text-align: right;
	text-transform: uppercase;
}